/* ------------HOMEPAGE------------ */

/* -----Content----- */
#mainContent .carousel-item {
    height: 20rem;
    background: black;
    color: #fff;
    position: relative;
    background-position: center;
    background-size: cover;
}

#mainContent .carousel-item .container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 50px;
}

#mainContent .content-header {
    font-weight: 800;
}

#mainContent .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    /* adjusting bg-color */
    opacity: 0.5;

}

/* -----End Content----- */


/* -----Subjects----- */

/* -----End Subjects----- */

/* ------------END HOMEPAGE------------ */


/* ------------SUBJECT.php------------ */

#subjectMainContent .subject-section {
    margin-top: 0.8rem;
}

#subjectMainContent .nav-tabs {
    border-bottom: 0px solid transparent;
    --bs-nav-tabs-border-width: 0px;
}

#subjectMainContent .nav-item .nav-link {
    padding-left: .8rem;
}

#subjectMainContent .section-control {
    background-color: #EFEFEF;
}

/* -----Module Tab- #subjectMainContent ---- */
#subjectMainContent .nav-link{
    color: inherit;
    cursor: pointer;
}
.card-header {
    border-bottom-width: 0px;
}

.card-body {
    border-top: inherit;
}

.section-link {
    text-decoration: none;
    color: #212529;
    font-weight: normal;
}


#subjectMainContent .task-table{
    border: 1px solid black;
}

/* Subject Student Progress */

.circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #231c3d;
  }
/* -----Subject Student Progress----- */
  
/* ------------END SUBJECT.php------------ */



/* ------------STUDENT.PROFILE.php------------ */

/* ------------END STUDENT.PROFILE.php------------ */